*{
    padding: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Inter', sans-serif;
}
.box{
    height: 25rem;
    width: 20rem;
    /* border: 0.2rem solid white; */
    background-color: rgb(162, 189, 192);
    float: right;
    transform: translate(-0.5rem,31.999rem);
    /* border-radius: 1rem; */
}

.headbar h3{
    color: rgba(0, 0, 0, 0.323);
    background-color: cadetblue;
    /* border-radius: 0.8rem; */
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    height: 2.5rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.lowertextbox{
    background-color: white;
    transform: translateY(18.5rem);
    height: 3.5rem;
    /* border-radius: 0.5rem; */
}
#mess{
    box-sizing: border-box;
    height: 2.5rem;
    width: 15rem;
    margin-top: 0.5rem;
    padding: 4px;
    margin-left: 0.5rem;
    background-color: rgb(243, 236, 236);
    /* border-radius: 2rem; */
}
.middlepart{
    /* background-color: yellow; */
}